:root {
  --shadow: #c7c9cb;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #f6f6f6;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 3px 5px 6px var(--shadow);
}

svg {
  width: 35px;
  cursor: pointer;
}

aside {
  display: none;
}

header {
  position: relative;
}

.header-nav {
  display: none;
}

.logo {
  display: flex;
  gap: 10px;
}

.logo h1 {
  margin: 0;
}

.header-nav {
  background-color: #f6f6f6;
  width: 30%;
  position: absolute;
  top: 100px;
  right: 0;
  padding: 30px 30px;
  box-shadow: 3px 5px 6px var(--shadow);
  border-top: 1px solid #dfe0e1;
}

.toggle {
  display: block;
}

.header-nav * {
  cursor: pointer;
}

.publish, .barcodes, .reports {
  margin-bottom: 70px;
}

.main {
  width: 80%;
  float: left;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

@media screen and (min-width: 1050px) {
  header {
    display: none;
  }

  aside {
    display: block;
    background-color: #f6f6f6;
    height: 100vh;
    width: 20%;
    float: left;
    box-shadow: 3px 5px 6px var(--shadow);
  }
  
  .logo {
    margin: 35px 30px;
    display: flex;
    gap: 10px;
  }
  
  aside p {
    margin-left: 30px;
  }
  
  .add {
    margin-top: 60px;
  }
}
